* {
  margin: 0;
  padding: 0;
}
.concent {
  position: absolute;
  top: 46px;
  bottom: 50px;
  left: 0;
  right: 0;
  background: #F7F8FA;
  padding-top: 10px;
}
.newsbox {
  padding: 0 11px;
  background: #fff;
  margin-bottom: 18px;
}
.newsbox li {
  height: 70px;
  display: flex;
  align-items: center;
}
.newsbox li img {
  width: 47px;
}
.newsbox .van-divider {
  margin: 0 15px;
}
.newsbox .conbox {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.newsbox .conbox .spanone {
  font-size: 16px;
}
.newsbox .conbox .spantwo {
  font-size: 12px;
}
.custom-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-image .van-empty__image {
  width: 90px;
  height: 90px;
}
.custom-image .van-empty__description {
  padding: 0;
}
