// 轮播
.van-swipe-item {
  color: #fff;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  background-color: #39a9ed;
}
// 轮播指示器
.custom-indicator {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 2px 5px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.1);
}
// 概览内容
.overview {
  padding: 0 10px;
  // 标题
  h2 {
    font-size: 28px;
  }
  // 标签
  .tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    span {
      font-size: 12px;
      padding: 3px 5px;
      margin-right: 8px;
    }
  }
}
// 点击标签
.van-action-sheet__header {
  text-align: left;
  padding: 0 20px;
  background: #eee;
}
.van-action-sheet__content {
  background: #eee;
  padding: 0 16px 15px;
  .content {
    background: #fff;
    border-radius: 8px;
  }
}
// 点评、地图
.ov-cell {
  background: #eee;
  border-radius: 5px;
  .van-cell__title {
    font-weight: bolder;
    font-size: 18px;
    flex: 3 1 0%;
    span {
      text-indent: -20px;
    }
  }
  .van-cell__value {
    font-size: 12px;
    color: orange;
  }
  i {
    color: orange;
  }
}
.map{
  margin: 10px 0;
  .van-cell__title {
    text-indent: -20px;
  }
  .van-cell__label {
    text-indent: 0px;
  }
  .van-cell__value {
    position: relative;
    span {
      position: absolute;
      top: 22px;
      right: 0;
    }
  }
  .van-cell__left-icon, .van-cell__right-icon {
    line-height: 70px;
  }
}
// 间隔
.space {
  width: 100%;
  height: 10px;
  background: #eee;
}

.van-divider {
  margin: 0 15px;
}
// 房源内容
.resource {
  padding: 0 10px;
  .van-cell {
    padding: 10px 0;
  }
  // 优惠券
  .youhui {
    position: relative;
    .van-coupon-cell__value, .van-icon-arrow {
      display: none;
    }
    .choose {
      background: pink;
      color: #fff;
      font-size: 12px;
      padding: 3px 10px;
      border-radius: 11px;
      position: absolute;
      top: 10px;
      right: 4px;
    }
  }
  // 日期
  .day .van-cell__title {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
    .c-g {
      font-size: 16px;
      font-weight: bolder;
    }
    .daytime {
      border: 1px solid #eee;
      border-radius: 13px;
      padding: 2px 5px;
    }
  }
}
// 详细信息
.van-card {
  background: #fff;
  padding: 0 0 8px 0;
  .van-card__thumb {
    width: 70px;
    height: 100px;
    position: relative;
    span {
      width: 100%;
      background: rgba(255, 255, 255, 0.7);
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      border-radius: 0 0 8px 8px;
    }
  }
  .custom-title {
    font-size: 16px;
    font-weight: bolder;
  }
  .van-icon-arrow {
    font-size: 14px;
    font-weight: bolder;
  }
  .van-card__bottom {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-right {
      width: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        font-size: 14px;
        font-weight: bolder;
      }
      .prices {
        font-size: 12px;
        font-weight: normal;
      }
    }
    .van-button--mini {
      height: 28px;
      padding: 0 15px;
      border-radius: 5px;
    }
  }
  .icon {
    width: 220px;
    .van-icon, span {
      margin-right: 3px;
    }
  }
}